<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Departments | RGMCET</title>
    <link rel="icon" type="image/clglogo" style="size: 16px;" href="/images/clglogo.png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="../css/department.css">
</head>

<body>

    <div class="title">
        <img src="../images/clglogo.png" alt="collegr_logo" class="logo">
        <h4>RAJEEVE GANDHI MEMORIAL COLLEGE OF ENGINEERING AND TECHNOLOGY</h4>
        <h5>(Autonomous)</h5>
        <h5>NANDYAL-51801,NANDYAL(DIST),A.P.,INDIA</h5>
    </div>
    
    <!-- ===== PAGE HEADER ===== -->
    <div class="dept-header text-center">
        <h1>Our Departments</h1>
        <p>Explore academic departments and programs</p>
    </div>

    
    <!-- ===== DEPARTMENTS SECTION ===== -->
    <div class="container width-150 height-200">
            <div class="dept-wrapper">
            <button class="nav-btn left" onclick="scrollLeft()"></button>

            <div class="slides">
                <!-- CSE -->
                    <div class="">
                        <div class="dept-card">
                            <img src="../images/cse.png" alt="CSE">
                            <h3>CSE</h3>
                            <p>Computer Science & Engineering focuses on software, AI, and computing technologies.</p>
                            <a href="cse.html" class="btn btn-primary">View Details</a>
                        </div>
                    </div>

                    <!-- ECE -->
                    <div class="">
                        <div class="dept-card">
                            <img src="../images/ece.png" alt="ECE">
                            <h3>ECE</h3>
                            <p>Electronics & Communication Engineering deals with communication systems.</p>
                            <a href="ece.html" class="btn btn-primary">View Details</a>
                        </div>
                    </div>

                    <!-- EEE -->
                    <div class="">
                        <div class="dept-card">
                            <img src="../images/eee.png" alt="EEE">
                            <h3>EEE</h3>
                            <p>Electrical & Electronics Engineering focuses on power and electrical systems.</p>
                            <a href="eee.html" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                    

                    <!-- AI & ML -->
                    <div class="">
                        <div class="dept-card">
                            <img src="../images/aiml.png" alt="AI">
                            <h3>CSE (AI & ML)</h3>
                            <p>Artificial Intelligence & Data Science focuses on ML, AI, and analytics.</p>
                            <a href="ai.html" class="btn btn-primary">View Details</a>
                        </div>
                    </div>

                    <!-- AI & ML -->
                    <div class="">
                        <div class="dept-card">
                            <img src="../images/ds.png" alt="DS">
                            <h3>CSE (DS)</h3>
                            <p>Artificial Intelligence & Data Science focuses on ML, AI, and analytics.</p>
                            <a href="ai.html" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                    <!-- cyber security  -->
                    <div class="">
                        <div class="dept-card">
                            <img src="../images/cs.png" alt="CSE (cyber Security)">
                            <h3>CSE (CS)</h3>
                            <p>Artificial Intelligence & Data Science focuses on ML, AI, and analytics.</p>
                            <a href="ai.html" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                    <!-- MECH -->
                    <div class="">
                        <div class="dept-card">
                            <img src="../images/mech.png" alt="MECH">
                            <h3>Mech</h3>
                            <p>Mechanical Engineering deals with design, manufacturing, and automation.</p>
                            <a href="mech.html" class="btn btn-primary">View Details</a>
                        </div>
                    </div>

                    <!-- CIVIL -->
                    <div class="">
                        <div class="dept-card">
                            <img src="../images/civil.png" alt="CIVIL">
                            <h3>Civil</h3>
                            <p>Civil Engineering focuses on infrastructure, construction, and planning.</p>
                            <a href="civil.html" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                    <!-- Mathematics -->
                    <div class="">
                        <div class="dept-card">
                            <img src="../images/math.png" alt="Mathematics">
                            <h3>Mathematics</h3>
                            <p>Artificial Intelligence & Data Science focuses on ML, AI, and analytics.</p>
                            <a href="ai.html" class="btn btn-primary">View Details</a>
                        </div>
                    </div>

                    <!-- English -->
                    <div class="">
                        <div class="dept-card">
                            <img src="../images/english.png" alt="English">
                            <h3>English</h3>
                            <p>Artificial Intelligence & Data Science focuses on ML, AI, and analytics.</p>
                            <a href="ai.html" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
                    <!-- Physics -->
                    <div class="">
                        <div class="dept-card">
                            <img src="../images/phy.png" alt="Physics">
                            <h3>Physics</h3>
                            <p>Artificial Intelligence & Data Science focuses on ML, AI, and analytics.</p>
                            <a href="ai.html" class="btn btn-primary">View Details</a>
                        </div>
                    </div>

                    <!-- Chemistery -->
                    <div class="">
                        <div class="dept-card">
                            <img src="../images/chem.png" alt="Chemistery">
                            <h3>Chemistery</h3>
                            <p>Artificial Intelligence & Data Science focuses on ML, AI, and analytics.</p>
                            <a href="ai.html" class="btn btn-primary">View Details</a>
                        </div>
                    </div>
            </div>

         <button class="nav-btn right" onclick="scrollRight()">&#10095;</button>
</div>
           
        </div>
    </div>
    
    <script src="../components/department.js"></script>
</body>

</html>




 